#ProfileCircle {
  height: 55vh;
  width: 140%;
  margin-top: -15vh;
  background-color: #f2bc79;
  border-radius: 50%;
  display: inline-block;
  margin-left: -9vh;
}

#ProfileName {
  text-align: center;
  margin-top: -210px;
}

#ProfileName img {
  width: 40%;
}

#ProfileList {
  position: absolute;
  bottom: 0;
  width: 90%;
}
