#mapcontainer{
    border-radius: 10px;
    width: 85vw;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.center-map {
    display: flex;
    justify-content: center;
    align-items: center;
}